name: Daily pub.dev stats

on:
  schedule:
    - cron: "30 4 * * *"   # 10:00 AM IST
  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: python send_stats.py
      - name: Commit stats.json
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add stats.json
          git commit -m "Update daily stats" || echo "No changes"
          git push
